* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    width: 200px;
    height: 200px;
    background-color: thistle;
    border: 10px solid rgb(212, 212, 212);
    border-radius: 50%;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}